:main {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
    margin: 0px;
    background-image: "../public/vite.svg";
}
p {
    margin: 0px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
#leaderboard {
    float: right;
}
button:hover {
  background-color: #aaaaaa;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.throwButton {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100px;
  height: 35px;
  background-color: #608f97;
  align-items: center;
  margin-top: 20px;
  text-align: center;
}

.dices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.dice {
    width: 75px;
    margin-top: 20px;
    height: 100%;
    background-color: #a98686;
}

.throw {
    width: 100px;
    height: 50px;
    background-color: #7d6363;
    align-items: center;
    margin-top: 20px;
}

.game {
    width: 100%;
}

.gameArea {
    width: 100%;
    display: flex;
    gap: 20px; 
    align-items: flex-start;
}

.menu {
    width: 100%;
    height: 80px;
    background-color: MediumSeaGreen;
}

.scoreboard {
    width: 400px;
    height: 700px;
    background-color: rgb(193, 193, 193);
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 50px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


/* -----------------------------------------
* Custom styles for the scoreboard component 
---------------------------------------------*/
.grid-table {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  border: 1px solid #e6e6e6;
  
}

.cell {
  padding: 8px;
  border: 1px solid #f7f7f7;
  text-align: center;
  min-width: 45px;
  max-width: 55;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:not(.header):not(.category) {
  cursor: pointer;
}

.cell:not(.header):not(.category):hover {
  background-color: #8b8989;
}

.header {
  background: #94c3d4;
  font-weight: bold;
}

.category {
  text-align: left;
  font-weight: 500;
}

.cell.calculated {
  font-weight: bold;
  background-color: #adadad;
}