:main {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  background-image: "../public/vite.svg";
}

p {
  margin: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#yatzy {
  color: #ffffff;
  flex-basis: 400px;
  padding: 0px 20px;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 5px 15px;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #dddddd;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.menuButton {
  border-radius: 8px;
  margin: 20px;
}

#throwButton {
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  background-color: MediumSeaGreen;
  color: #ffffff;
}

#endTurnButton {
  border-radius: 8px;
  padding: 5px 15px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  background-color: rgb(247, 12, 16);
  color: #ffffff;
}

.currentPlayer {
  margin: 0px 0px 50px 0px;
  font-size: 1.5em;
  font-weight: 500;
}

.diceArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.die {
  transition: transform 0.12s;
  cursor: pointer;
  width: 120px;
  height: 120px;
}

.die.held {
  border: 6px solid #ff8c00;
}

.die.focused {
  outline: 5px solid #00ff1e;
  outline-offset: 6px;
  box-shadow: 0 0 15px rgba(3, 242, 158, 0.829);
}

.diceContainer {
  margin: 20px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  outline: none
}

.die img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.throw {
  width: 100px;
  height: 50px;
  background-color: #7d6363;
  align-items: center;
  margin-top: 20px;
}

.game {
  width: 100%;
  min-width: 990px;
}

.gameArea {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 80px;
  /* menu height */
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  pointer-events: all;
}

.menu {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background-color: MediumSeaGreen;
}

.scoreboard {
  flex-basis: 800px;
  width: 100%;
  background-color: #dddddd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* -----------------------------------------
* Custom styles for the scoreboard component 
---------------------------------------------*/
.grid-table {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
}

.cell {
  padding: 5px;
  border: 1px solid #ffffff;
  text-align: center;
  min-width: 80px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cell:not(.header):not(.category) {
  cursor: pointer;
}

.cell:not(.header):not(.category):hover {
  background-color: #8b8989;
}

.header {
  background: MediumSeaGreen;
  font-weight: 500;
  color: #ffffff;
}

.category {
  text-align: center;
  font-weight: 500;
}

.cell.calculated {
  font-weight: bold;
  background-color: #adadad;
}

.disabled {
  background-color: #8b8989;
  color: #8b8989;
  pointer-events: none;
}