/* Custom styles for the scoreboard component */
.grid-table {
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  border: 1px solid #ccc;
  
}


.cell {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
  min-width: 45px;
  max-width: 55;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:not(.header):not(.category) {
  cursor: pointer;
}

.cell:not(.header):not(.category):hover {
  background-color: #f0f0f0;
}


.header {
  background: #eee;
  font-weight: bold;
}

.category {
  text-align: left;
  font-weight: 500;
}